<template name="footer">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text-container">
                        <p class="copyright">&#169; Copyright 2015 - Its like waaaay too restrictive.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</template>