<template name="hubLogsLayout">
    <div id="wrapper">
        {{> header}}
        {{> slogans}}
        <form action="" method="get">
            {{> environments}}
            <div class="container">
                <input type="button" value="Clear Filter">
                <input type="button" value="Search">
            </div>
            {{> hublogsFilterPanel}}

        </form>
        {{> yield}}
    </div>
    <div class="push"></div>
    {{> footer}}
</template>

<template name="hubLogs">

    {{> pagesNav}}
    <div class="hublogsResultsContainer">
    {{> pages}}
    </div>
    <div class="bottom-paginator-container">
        {{> pagesNav}}
    </div>
</template>